<a href="https://colab.research.google.com/github/RodrigodeFeo/8DTS/blob/main/Trabalho_Integrado_ML_RM351578.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalho Integrado Machine Learn
1.   RM351578 - Rodrigo de Feo Vieira
2.   RM
3.   RM
4.   RM

Vamos iniciar com os imports

In [20]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

Efetuando a leitura da base

In [2]:
#Efetuando a leitura da base
# Carregar um arquivo CSV do sistema local
from google.colab import files
uploaded = files.upload()

# Selecione o nome do arquivo CSV que vocÃª carregou
filename = list(uploaded.keys())[0]

# Carregar o arquivo CSV em um DataFrame do pandas
df_cliente_score = pd.read_csv(filename)

# Exibir as primeiras linhas do DataFrame
print(df_cliente_score.head())

Saving test.csv to test.csv
       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923

[5 rows x 27 columns]

Agora iremos comecar a nossa analise do dataset

In [3]:
#Exibindo os dados
df_cliente_score.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [7]:
#Vamos avaliar os tipos e nulos
df_cliente_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

Para iniciarmos a analise da base primeiro vamos remover as colunas que nao agregam informacoes relevantes para o nosso modelo apenas avaliando o conteudo da variavel

In [10]:
#Removendo as colunas
df_cliente_score_rev = df_cliente_score
df_cliente_score_rev = df_cliente_score_rev.drop('ID',axis=1) #Feature ID com valor unico por linha
df_cliente_score_rev = df_cliente_score_rev.drop('Customer_ID',axis=1) #Feature ID do Cliente com valor unico por cliente
df_cliente_score_rev = df_cliente_score_rev.drop('Month',axis=1)#Feature Mes representa o mes do cadastro
df_cliente_score_rev = df_cliente_score_rev.drop('Name',axis=1)#Feature Nome representa o nome cliente no cadastro
df_cliente_score_rev = df_cliente_score_rev.drop('SSN',axis=1)#Feature Cadastro Social Americano representa o numero social do cliente no cadastro
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  object
 3   Monthly_Inhand_Salary     42502 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(14)
memory usage: 8.4+ MB

Vamos iniciar o tratamento das colunas que possuem nulos

Vamos trabalhar nos dados de Salario Mensal

In [11]:
#Funcao para calcular o valor do salario mensal atraves do salario anual
def sal_mes(cols):
    Anual = cols[0]
    Mensal = cols[1]

    if pd.isnull(Mensal):
        return Anual / 12
    else:
        return Mensal

In [15]:
#Antes de aplicarmos a funcao vamos garantir que a coluna de valor anual seja numerica
df_cliente_score_rev['Annual_Income'] = df_cliente_score_rev['Annual_Income'].str.replace('_', '')
df_cliente_score_rev['Annual_Income'] = df_cliente_score_rev['Annual_Income'].astype(float)
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     42502 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

In [16]:
#Vamos agora aplicar no dataset para calcular o valor do salario mensal a partir do valor anual
df_cliente_score_rev['Monthly_Inhand_Salary'] = df_cliente_score_rev[['Annual_Income','Monthly_Inhand_Salary']].apply(sal_mes,axis=1)

#Verificando se nao existe mais nan no salario mensal
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

Vamos trabalhar o tipo de emprestimo

In [17]:
#vamos avaliar o tipo de dado desta Feature
df_cliente_score_rev.Type_of_Loan.unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [18]:
#Como a propria coluna possui um Valor para os itens nao especificados vamos substituir os nulos por Nao especificado
df_cliente_score_rev['Type_of_Loan'] = df_cliente_score_rev['Type_of_Loan'].fillna('Not Specified')

In [22]:
#Vamos visualizar a distribuicao dos dados
contagem = df_cliente_score_rev['Type_of_Loan'].value_counts()
print(contagem)

Not Specified                                                                                                                         6408
Credit-Builder Loan                                                                                                                    640
Personal Loan                                                                                                                          636
Debt Consolidation Loan                                                                                                                632
Student Loan                                                                                                                           620
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                 4
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                    4
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                        4
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan       4
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                  4
Name: Type_of_Loan, Length: 6260, dtype: int64

In [23]:
#Verificando se os nulos do tipo de emprestimo foram removidos
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

Vamos avaliar o numero de atrasos nos pagamentos

In [ ]:
#Vamos visualizar a distribuicao dos dados
contagem = df_cliente_score_rev['Type_of_Loan'].value_counts()
print(contagem)