<a href="https://colab.research.google.com/github/RodrigodeFeo/8DTS/blob/main/Trabalho_Integrado_ML_RM351578.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalho Integrado Machine Learn
1.   RM351578 - Rodrigo de Feo Vieira
2.   RM
3.   RM
4.   RM

Vamos iniciar com os imports

In [74]:
#Importando as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

Efetuando a leitura da base

In [2]:
#Efetuando a leitura da base
# Carregar um arquivo CSV do sistema local
from google.colab import files
uploaded = files.upload()

# Selecione o nome do arquivo CSV que você carregou
filename = list(uploaded.keys())[0]

# Carregar o arquivo CSV em um DataFrame do pandas
df_cliente_score = pd.read_csv(filename)

# Exibir as primeiras linhas do DataFrame
print(df_cliente_score.head())

Saving test.csv to test.csv
       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923

[5 rows x 27 columns]

Agora iremos comecar a nossa analise do dataset

In [3]:
#Exibindo os dados
df_cliente_score.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [7]:
#Vamos avaliar os tipos e nulos
df_cliente_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

Para iniciarmos a analise da base primeiro vamos remover as colunas que nao agregam informacoes relevantes para o nosso modelo apenas avaliando o conteudo da variavel

In [135]:
#Removendo as colunas
df_cliente_score_rev = df_cliente_score
df_cliente_score_rev = df_cliente_score_rev.drop('ID',axis=1) #Feature ID com valor unico por linha
df_cliente_score_rev = df_cliente_score_rev.drop('Customer_ID',axis=1) #Feature ID do Cliente com valor unico por cliente
df_cliente_score_rev = df_cliente_score_rev.drop('Month',axis=1)#Feature Mes representa o mes do cadastro
df_cliente_score_rev = df_cliente_score_rev.drop('Name',axis=1)#Feature Nome representa o nome cliente no cadastro
df_cliente_score_rev = df_cliente_score_rev.drop('SSN',axis=1)#Feature Cadastro Social Americano representa o numero social do cliente no cadastro
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  object
 3   Monthly_Inhand_Salary     42502 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(14)
memory usage: 8.4+ MB

Vamos iniciar o tratamento das colunas que possuem nulos

Vamos trabalhar nos dados de Salario Mensal

In [136]:
#Funcao para calcular o valor do salario mensal atraves do salario anual
def sal_mes(cols):
    Anual = cols[0]
    Mensal = cols[1]

    if pd.isnull(Mensal):
        return Anual / 12
    else:
        return Mensal

In [137]:
#Antes de aplicarmos a funcao vamos garantir que a coluna de valor anual seja numerica
df_cliente_score_rev['Annual_Income'] = df_cliente_score_rev['Annual_Income'].str.replace('_', '')
df_cliente_score_rev['Annual_Income'] = df_cliente_score_rev['Annual_Income'].astype(float)
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     42502 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

In [138]:
#Vamos agora aplicar no dataset para calcular o valor do salario mensal a partir do valor anual
df_cliente_score_rev['Monthly_Inhand_Salary'] = df_cliente_score_rev[['Annual_Income','Monthly_Inhand_Salary']].apply(sal_mes,axis=1)

#Verificando se nao existe mais nan no salario mensal
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              44296 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

Vamos trabalhar o tipo de emprestimo

In [139]:
#vamos avaliar o tipo de dado desta Feature
df_cliente_score_rev.Type_of_Loan.unique()

array(['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan',
       'Credit-Builder Loan', 'Auto Loan, Auto Loan, and Not Specified',
       ..., 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan',
       'Payday Loan, Student Loan, Mortgage Loan, and Not Specified',
       'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan'],
      dtype=object)

In [140]:
#Como a propria coluna possui um Valor para os itens nao especificados vamos substituir os nulos por Nao especificado
df_cliente_score_rev['Type_of_Loan'] = df_cliente_score_rev['Type_of_Loan'].fillna('Not Specified')

In [141]:
#Vamos visualizar a distribuicao dos dados
contagem = df_cliente_score_rev['Type_of_Loan'].value_counts()
print(contagem)

Not Specified                                                                                                                         6408
Credit-Builder Loan                                                                                                                    640
Personal Loan                                                                                                                          636
Debt Consolidation Loan                                                                                                                632
Student Loan                                                                                                                           620
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                 4
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                    4
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                        4
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan       4
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                  4
Name: Type_of_Loan, Length: 6260, dtype: int64

In [142]:
#Verificando se os nulos do tipo de emprestimo foram removidos
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    46502 non-null  object
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(5), int64(4), object(13)
memory usage: 8.4+ MB

Vamos avaliar o numero de atrasos nos pagamentos assumindo que os nulos nao houveram atrasos entao vamos setar com 0

In [143]:
#Ajustando o tipo e setando o zero para o numero de atraso
df_cliente_score_rev['Num_of_Delayed_Payment'] = df_cliente_score_rev['Num_of_Delayed_Payment'].fillna('0')
df_cliente_score_rev['Num_of_Delayed_Payment'] = df_cliente_score_rev['Num_of_Delayed_Payment'].str.replace('_', '')
df_cliente_score_rev['Num_of_Delayed_Payment'] = df_cliente_score_rev['Num_of_Delayed_Payment'].astype(float)
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    50000 non-null  float64
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      48965 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(6), int64(4), object(12)
memory usage: 8.4+ MB

Vamos assumir a mesma logica para o numero de solicitacao de credito, caso seja nulo vamos assumir o valor 0

In [144]:
#Ajustando o tipo e setando o zero para o numero de solicitacao de credito
df_cliente_score_rev['Num_Credit_Inquiries'] = df_cliente_score_rev['Num_Credit_Inquiries'].fillna('0')
df_cliente_score_rev['Num_Credit_Inquiries'] = df_cliente_score_rev['Num_Credit_Inquiries'].astype(float)
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    50000 non-null  float64
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      50000 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        45530 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(6), int64(4), object(12)
memory usage: 8.4+ MB

Vamos valiar os nulos do Historico de Credito

In [145]:
#Vamos vializar os dados
df_cliente_score_rev.Credit_History_Age.unique()

array(['22 Years and 9 Months', '22 Years and 10 Months', nan,
       '23 Years and 0 Months', '27 Years and 3 Months',
       '27 Years and 4 Months', '27 Years and 5 Months',
       '27 Years and 6 Months', '18 Years and 5 Months',
       '18 Years and 6 Months', '18 Years and 7 Months',
       '17 Years and 11 Months', '18 Years and 0 Months',
       '18 Years and 1 Months', '18 Years and 2 Months',
       '31 Years and 4 Months', '31 Years and 5 Months',
       '31 Years and 7 Months', '32 Years and 7 Months',
       '32 Years and 8 Months', '32 Years and 9 Months',
       '32 Years and 10 Months', '31 Years and 6 Months',
       '15 Years and 3 Months', '15 Years and 4 Months',
       '15 Years and 5 Months', '15 Years and 6 Months',
       '22 Years and 0 Months', '22 Years and 1 Months',
       '22 Years and 2 Months', '22 Years and 3 Months',
       '27 Years and 1 Months', '27 Years and 2 Months',
       '19 Years and 10 Months', '19 Years and 11 Months',
       '20 Years and 0 Months', '26 Years and 2 Months',
       '26 Years and 3 Months', '26 Years and 4 Months',
       '27 Years and 7 Months', '27 Years and 8 Months',
       '27 Years and 9 Months', '9 Years and 7 Months',
       '9 Years and 8 Months', '9 Years and 9 Months',
       '9 Years and 10 Months', '18 Years and 10 Months',
       '18 Years and 11 Months', '19 Years and 0 Months',
       '19 Years and 1 Months', '17 Years and 6 Months',
       '17 Years and 7 Months', '17 Years and 8 Months',
       '17 Years and 9 Months', '29 Years and 10 Months',
       '29 Years and 11 Months', '30 Years and 0 Months',
       '30 Years and 1 Months', '7 Years and 1 Months',
       '7 Years and 2 Months', '7 Years and 3 Months',
       '27 Years and 10 Months', '27 Years and 11 Months',
       '28 Years and 0 Months', '28 Years and 1 Months',
       '20 Years and 1 Months', '20 Years and 2 Months',
       '10 Years and 9 Months', '10 Years and 10 Months',
       '10 Years and 11 Months', '11 Years and 0 Months',
       '33 Years and 5 Months', '33 Years and 6 Months',
       '33 Years and 7 Months', '33 Years and 8 Months',
       '12 Years and 11 Months', '13 Years and 0 Months',
       '13 Years and 1 Months', '13 Years and 2 Months',
       '12 Years and 10 Months', '18 Years and 8 Months',
       '18 Years and 9 Months', '14 Years and 4 Months',
       '14 Years and 5 Months', '14 Years and 6 Months',
       '14 Years and 7 Months', '30 Years and 11 Months',
       '31 Years and 0 Months', '31 Years and 1 Months',
       '31 Years and 2 Months', '9 Years and 4 Months',
       '9 Years and 6 Months', '19 Years and 2 Months',
       '19 Years and 5 Months', '19 Years and 6 Months',
       '19 Years and 7 Months', '19 Years and 8 Months',
       '9 Years and 5 Months', '13 Years and 9 Months',
       '13 Years and 10 Months', '13 Years and 11 Months',
       '22 Years and 4 Months', '26 Years and 6 Months',
       '14 Years and 0 Months', '14 Years and 1 Months',
       '28 Years and 7 Months', '28 Years and 8 Months',
       '28 Years and 9 Months', '28 Years and 10 Months',
       '8 Years and 7 Months', '8 Years and 8 Months',
       '8 Years and 9 Months', '24 Years and 11 Months',
       '25 Years and 0 Months', '25 Years and 1 Months',
       '25 Years and 2 Months', '17 Years and 10 Months',
       '1 Years and 10 Months', '1 Years and 11 Months',
       '2 Years and 0 Months', '2 Years and 1 Months',
       '11 Years and 7 Months', '11 Years and 8 Months',
       '11 Years and 9 Months', '11 Years and 10 Months',
       '31 Years and 3 Months', '20 Years and 3 Months',
       '20 Years and 4 Months', '20 Years and 5 Months',
       '20 Years and 6 Months', '11 Years and 1 Months',
       '11 Years and 2 Months', '11 Years and 3 Months',
       '11 Years and 4 Months', '14 Years and 8 Months',
       '14 Years and 9 Months', '14 Years and 10 Months',
       '21 Years and 4 Months', '21 Years and 5 Months',
       '21 Years and 6 Months', '21 Years and 7 Months',
       '1 Years and 0 Months', '1 Years and 1 Months',
       '1 Years and 2 Months', '1 Years and 3 Months',
       '32 Years and 4 Months', '32 Years and 5 Months',
       '32 Years and 6 Months', '13 Years and 3 Months',
       '13 Years and 4 Months', '13 Years and 5 Months',
       '13 Years and 6 Months', '28 Years and 2 Months',
       '12 Years and 0 Months', '12 Years and 1 Months',
       '12 Years and 2 Months', '12 Years and 3 Months',
       '25 Years and 4 Months', '25 Years and 5 Months',
       '25 Years and 6 Months', '25 Years and 7 Months',
       '18 Years and 3 Months', '18 Years and 4 Months',
       '13 Years and 7 Months', '19 Years and 9 Months',
       '31 Years and 9 Months', '31 Years and 10 Months',
       '31 Years and 11 Months', '32 Years and 0 Months',
       '5 Years and 10 Months', '5 Years and 11 Months',
       '6 Years and 0 Months', '6 Years and 1 Months',
       '3 Years and 7 Months', '3 Years and 8 Months',
       '3 Years and 9 Months', '3 Years and 10 Months',
       '17 Years and 1 Months', '17 Years and 2 Months',
       '17 Years and 3 Months', '23 Years and 7 Months',
       '23 Years and 8 Months', '23 Years and 9 Months',
       '23 Years and 10 Months', '9 Years and 0 Months',
       '9 Years and 2 Months', '9 Years and 3 Months',
       '31 Years and 8 Months', '5 Years and 1 Months',
       '5 Years and 2 Months', '5 Years and 3 Months',
       '5 Years and 4 Months', '33 Years and 4 Months',
       '13 Years and 8 Months', '30 Years and 5 Months',
       '30 Years and 6 Months', '30 Years and 7 Months',
       '30 Years and 8 Months', '26 Years and 5 Months',
       '33 Years and 9 Months', '26 Years and 10 Months',
       '26 Years and 11 Months', '27 Years and 0 Months',
       '8 Years and 1 Months', '8 Years and 2 Months',
       '8 Years and 3 Months', '8 Years and 4 Months',
       '28 Years and 11 Months', '29 Years and 0 Months',
       '29 Years and 1 Months', '29 Years and 2 Months',
       '20 Years and 7 Months', '20 Years and 8 Months',
       '20 Years and 9 Months', '20 Years and 10 Months',
       '20 Years and 11 Months', '21 Years and 0 Months',
       '29 Years and 3 Months', '29 Years and 4 Months',
       '29 Years and 5 Months', '29 Years and 6 Months',
       '14 Years and 2 Months', '14 Years and 3 Months',
       '2 Years and 2 Months', '2 Years and 3 Months',
       '33 Years and 10 Months', '33 Years and 11 Months',
       '34 Years and 0 Months', '26 Years and 7 Months',
       '26 Years and 8 Months', '29 Years and 7 Months',
       '29 Years and 8 Months', '5 Years and 5 Months',
       '5 Years and 6 Months', '5 Years and 7 Months',
       '5 Years and 8 Months', '32 Years and 3 Months',
       '6 Years and 5 Months', '6 Years and 6 Months',
       '6 Years and 7 Months', '6 Years and 8 Months',
       '23 Years and 1 Months', '23 Years and 2 Months',
       '23 Years and 3 Months', '17 Years and 0 Months',
       '23 Years and 5 Months', '23 Years and 6 Months',
       '22 Years and 5 Months', '22 Years and 6 Months',
       '21 Years and 1 Months', '16 Years and 0 Months',
       '16 Years and 1 Months', '16 Years and 2 Months',
       '16 Years and 3 Months', '21 Years and 2 Months',
       '2 Years and 11 Months', '3 Years and 0 Months',
       '3 Years and 1 Months', '3 Years and 2 Months',
       '5 Years and 9 Months', '2 Years and 4 Months',
       '16 Years and 10 Months', '16 Years and 11 Months',
       '22 Years and 11 Months', '9 Years and 11 Months',
       '10 Years and 0 Months', '10 Years and 1 Months',
       '28 Years and 4 Months', '28 Years and 5 Months',
       '28 Years and 6 Months', '19 Years and 3 Months',
       '25 Years and 3 Months', '8 Years and 10 Months',
       '6 Years and 3 Months', '6 Years and 4 Months',
       '17 Years and 4 Months', '17 Years and 5 Months',
       '12 Years and 5 Months', '12 Years and 6 Months',
       '12 Years and 7 Months', '12 Years and 8 Months',
       '26 Years and 9 Months', '29 Years and 9 Months',
       '32 Years and 1 Months', '32 Years and 2 Months',
       '21 Years and 10 Months', '21 Years and 11 Months',
       '24 Years and 10 Months', '16 Years and 6 Months',
       '16 Years and 7 Months', '16 Years and 8 Months',
       '16 Years and 9 Months', '15 Years and 1 Months',
       '15 Years and 2 Months', '23 Years and 11 Months',
       '24 Years and 0 Months', '25 Years and 10 Months',
       '25 Years and 11 Months', '26 Years and 0 Months',
       '26 Years and 1 Months', '8 Years and 11 Months',
       '19 Years and 4 Months', '6 Years and 2 Months',
       '25 Years and 8 Months', '25 Years and 9 Months',
       '15 Years and 11 Months', '8 Years and 5 Months',
       '8 Years and 6 Months', '7 Years and 6 Months',
       '7 Years and 7 Months', '7 Years and 8 Months',
       '7 Years and 9 Months', '16 Years and 4 Months',
       '16 Years and 5 Months', '24 Years and 1 Months',
       '22 Years and 7 Months', '15 Years and 7 Months',
       '15 Years and 8 Months', '15 Years and 9 Months',
       '21 Years and 8 Months', '21 Years and 9 Months',
       '30 Years and 9 Months', '7 Years and 11 Months',
       '8 Years and 0 Months', '10 Years and 5 Months',
       '10 Years and 6 Months', '10 Years and 7 Months',
       '10 Years and 8 Months', '9 Years and 1 Months',
       '24 Years and 4 Months', '24 Years and 5 Months',
       '24 Years and 6 Months', '24 Years and 7 Months',
       '3 Years and 4 Months', '3 Years and 5 Months',
       '15 Years and 0 Months', '10 Years and 2 Months',
       '12 Years and 4 Months', '24 Years and 3 Months',
       '28 Years and 3 Months', '6 Years and 9 Months',
       '6 Years and 10 Months', '0 Years and 10 Months',
       '10 Years and 3 Months', '12 Years and 9 Months',
       '30 Years and 2 Months', '30 Years and 4 Months',
       '30 Years and 3 Months', '0 Years and 11 Months',
       '11 Years and 6 Months', '7 Years and 10 Months',
       '10 Years and 4 Months', '4 Years and 0 Months',
       '32 Years and 11 Months', '33 Years and 0 Months',
       '21 Years and 3 Months', '30 Years and 10 Months',
       '23 Years and 4 Months', '3 Years and 11 Months',
       '4 Years and 1 Months', '4 Years and 2 Months',
       '6 Years and 11 Months', '7 Years and 0 Months',
       '11 Years and 5 Months', '15 Years and 10 Months',
       '11 Years and 11 Months', '14 Years and 11 Months',
       '22 Years and 8 Months', '1 Years and 6 Months',
       '1 Years and 7 Months', '1 Years and 8 Months',
       '1 Years and 9 Months', '24 Years and 9 Months',
       '5 Years and 0 Months', '7 Years and 4 Months',
       '4 Years and 7 Months', '4 Years and 8 Months',
       '4 Years and 9 Months', '4 Years and 10 Months',
       '7 Years and 5 Months', '2 Years and 5 Months',
       '2 Years and 7 Months', '2 Years and 8 Months',
       '2 Years and 6 Months', '24 Years and 2 Months',
       '33 Years and 1 Months', '33 Years and 2 Months',
       '1 Years and 4 Months', '1 Years and 5 Months',
       '24 Years and 8 Months', '4 Years and 3 Months',
       '4 Years and 4 Months', '2 Years and 9 Months',
       '2 Years and 10 Months', '3 Years and 3 Months',
       '4 Years and 5 Months', '4 Years and 11 Months',
       '33 Years and 3 Months', '3 Years and 6 Months',
       '4 Years and 6 Months'], dtype=object)

Percebemos que o valor é informado pelo ano seguido do mes, vou assumir que os nulos o cliente nao tem historico informando o seguinte valor para os nulos '0 Years and 0 Months'

In [146]:
#Ajustando o tipo e setando o zero para o numero de solicitacao de credito
df_cliente_score_rev['Credit_History_Age'] = df_cliente_score_rev['Credit_History_Age'].fillna('0 Years and 0 Months')
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    50000 non-null  float64
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      50000 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        50000 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   47729 non-null  object
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(6), int64(4), object(12)
memory usage: 8.4+ MB

Para o total investido no mes vamos considerar que os nulos nao possuem investimentos entao vamos setar 0 no valor e converter a variavel para numerico

In [147]:
#Ajustando o tipo e setando o zero para o numero de solicitacao de credito
df_cliente_score_rev['Amount_invested_monthly'] = df_cliente_score_rev['Amount_invested_monthly'].fillna('0')
df_cliente_score_rev['Amount_invested_monthly'] = df_cliente_score_rev['Amount_invested_monthly'].str.replace('_', '')
df_cliente_score_rev['Amount_invested_monthly'] = df_cliente_score_rev['Amount_invested_monthly'].astype(float)
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    50000 non-null  float64
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      50000 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        50000 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   50000 non-null  float64
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           49438 non-null  object
dtypes: float64(7), int64(4), object(11)
memory usage: 8.4+ MB

Agora para o balanco mensal vamos assumir que os nulos serao compostos pelo vamos de salario mensa e o total investido por ano

In [148]:
#Funcao para calcular o balanco mensal atraves do salario e total investido mensal menos o total de emprestimo por mes
def bal_mes(cols):
    TEmensal = cols[0]
    TInvmensal = cols[1]
    TSalario = cols[2]
    TBalance =  cols[3]

    if pd.isnull(TBalance):
        return TEmensal - (TInvmensal + TSalario)
    else:
        return TBalance

In [149]:
#Antes de ajustarmos os nulos vamos converter o balanco para numerico
df_cliente_score_rev['Monthly_Balance'] = df_cliente_score_rev['Monthly_Balance'].str.replace('_', '')
df_cliente_score_rev['Monthly_Balance'] = df_cliente_score_rev['Monthly_Balance'].astype(float)

In [150]:
#Vamos agora aplicar no dataset para calcular o valor do salario mensal a partir do valor anual
df_cliente_score_rev['Monthly_Balance'] = df_cliente_score_rev[['Total_EMI_per_month','Amount_invested_monthly','Monthly_Inhand_Salary','Monthly_Balance']].apply(bal_mes,axis=1)

#Verificando se nao existe mais nan no salario mensal
df_cliente_score_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Occupation                50000 non-null  object
 2   Annual_Income             50000 non-null  float64
 3   Monthly_Inhand_Salary     50000 non-null  float64
 4   Num_Bank_Accounts         50000 non-null  int64
 5   Num_Credit_Card           50000 non-null  int64
 6   Interest_Rate             50000 non-null  int64
 7   Num_of_Loan               50000 non-null  object
 8   Type_of_Loan              50000 non-null  object
 9   Delay_from_due_date       50000 non-null  int64
 10  Num_of_Delayed_Payment    50000 non-null  float64
 11  Changed_Credit_Limit      50000 non-null  object
 12  Num_Credit_Inquiries      50000 non-null  float64
 13  Credit_Mix                50000 non-null  object
 14  Outstanding_Debt          50000 non-null  object
 15  Credit_Utilization_Ratio  50000 non-null  float64
 16  Credit_History_Age        50000 non-null  object
 17  Payment_of_Min_Amount     50000 non-null  object
 18  Total_EMI_per_month       50000 non-null  float64
 19  Amount_invested_monthly   50000 non-null  float64
 20  Payment_Behaviour         50000 non-null  object
 21  Monthly_Balance           50000 non-null  float64
dtypes: float64(8), int64(4), object(10)
memory usage: 8.4+ MB

Antes de montarmos o modelo vamos converter as variaveis obejct para numeric e dummieficar as variveis categoricas

In [156]:
#Convertendo de object para numeric
df_cliente_score_rev_n = df_cliente_score_rev
df_cliente_score_rev_n['Age'] = df_cliente_score_rev_n['Age'].str.replace('_', '')
df_cliente_score_rev_n['Num_of_Loan'] = df_cliente_score_rev_n['Num_of_Loan'].str.replace('_', '')
df_cliente_score_rev_n['Changed_Credit_Limit'] = df_cliente_score_rev_n['Changed_Credit_Limit'].str.replace('_', '')
df_cliente_score_rev_n['Changed_Credit_Limit'] = df_cliente_score_rev_n['Changed_Credit_Limit'].str.replace('', '0')
df_cliente_score_rev_n['Changed_Credit_Limit'] = df_cliente_score_rev_n['Changed_Credit_Limit'].str.replace('-', '')
df_cliente_score_rev_n['Outstanding_Debt'] = df_cliente_score_rev_n['Outstanding_Debt'].str.replace('_', '')

df_cliente_score_rev_n['Age'] = df_cliente_score_rev_n['Age'].astype(int)
df_cliente_score_rev_n['Num_of_Loan'] = df_cliente_score_rev_n['Num_of_Loan'].astype(int)
df_cliente_score_rev_n['Changed_Credit_Limit'] = df_cliente_score_rev_n['Changed_Credit_Limit'].astype(float)
df_cliente_score_rev_n['Outstanding_Debt'] = df_cliente_score_rev_n['Outstanding_Debt'].astype(float)
df_cliente_score_rev_n.info()

AttributeError: Can only use .str accessor with string values!

In [180]:
#Vamos dumieficar as variaveis categoricas

#gerando dummy
dummy = pd.get_dummies(df_cliente_score_rev_n['Occupation'],drop_first = True)

# Concatenar as variáveis dummy com o dataframe original
df_cliente_score_rev_n_d = pd.concat([df_cliente_score_rev_n, dummy], axis=1)

#removendo varivel original
df_cliente_score_rev_n_d = df_cliente_score_rev_n_d.drop('Occupation',axis=1)

df_cliente_score_rev_n_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  int64
 1   Annual_Income             50000 non-null  float64
 2   Monthly_Inhand_Salary     50000 non-null  float64
 3   Num_Bank_Accounts         50000 non-null  int64
 4   Num_Credit_Card           50000 non-null  int64
 5   Interest_Rate             50000 non-null  int64
 6   Num_of_Loan               50000 non-null  int64
 7   Type_of_Loan              50000 non-null  object
 8   Delay_from_due_date       50000 non-null  int64
 9   Num_of_Delayed_Payment    50000 non-null  float64
 10  Changed_Credit_Limit      50000 non-null  float64
 11  Num_Credit_Inquiries      50000 non-null  float64
 12  Credit_Mix                50000 non-null  object
 13  Outstanding_Debt          50000 non-null  float64
 14  Credit_Utilization_Ratio  50000 non-null  float64
 15  Credit_History_Age        50000 non-null  object
 16  Payment_of_Min_Amount     50000 non-null  object
 17  Total_EMI_per_month       50000 non-null  float64
 18  Amount_invested_monthly   50000 non-null  float64
 19  Payment_Behaviour         50000 non-null  object
 20  Monthly_Balance           50000 non-null  float64
 21  Architect                 50000 non-null  uint8
 22  Developer                 50000 non-null  uint8
 23  Doctor                    50000 non-null  uint8
 24  Engineer                  50000 non-null  uint8
 25  Entrepreneur              50000 non-null  uint8
 26  Journalist                50000 non-null  uint8
 27  Lawyer                    50000 non-null  uint8
 28  Manager                   50000 non-null  uint8
 29  Mechanic                  50000 non-null  uint8
 30  Media_Manager             50000 non-null  uint8
 31  Musician                  50000 non-null  uint8
 32  Scientist                 50000 non-null  uint8
 33  Teacher                   50000 non-null  uint8
 34  Writer                    50000 non-null  uint8
 35  _______                   50000 non-null  uint8
dtypes: float64(10), int64(6), object(5), uint8(15)
memory usage: 8.7+ MB

In [181]:
#gerando dummy
dummy = pd.get_dummies(df_cliente_score_rev_n_d['Payment_Behaviour'],drop_first = True)

# Concatenar as variáveis dummy com o dataframe original
df_cliente_score_rev_n_d = pd.concat([df_cliente_score_rev_n_d, dummy], axis=1)

#removendo varivel original
df_cliente_score_rev_n_d = df_cliente_score_rev_n_d.drop('Payment_Behaviour',axis=1)

df_cliente_score_rev_n_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               50000 non-null  int64
 1   Annual_Income                     50000 non-null  float64
 2   Monthly_Inhand_Salary             50000 non-null  float64
 3   Num_Bank_Accounts                 50000 non-null  int64
 4   Num_Credit_Card                   50000 non-null  int64
 5   Interest_Rate                     50000 non-null  int64
 6   Num_of_Loan                       50000 non-null  int64
 7   Type_of_Loan                      50000 non-null  object
 8   Delay_from_due_date               50000 non-null  int64
 9   Num_of_Delayed_Payment            50000 non-null  float64
 10  Changed_Credit_Limit              50000 non-null  float64
 11  Num_Credit_Inquiries              50000 non-null  float64
 12  Credit_Mix                        50000 non-null  object
 13  Outstanding_Debt                  50000 non-null  float64
 14  Credit_Utilization_Ratio          50000 non-null  float64
 15  Credit_History_Age                50000 non-null  object
 16  Payment_of_Min_Amount             50000 non-null  object
 17  Total_EMI_per_month               50000 non-null  float64
 18  Amount_invested_monthly           50000 non-null  float64
 19  Monthly_Balance                   50000 non-null  float64
 20  Architect                         50000 non-null  uint8
 21  Developer                         50000 non-null  uint8
 22  Doctor                            50000 non-null  uint8
 23  Engineer                          50000 non-null  uint8
 24  Entrepreneur                      50000 non-null  uint8
 25  Journalist                        50000 non-null  uint8
 26  Lawyer                            50000 non-null  uint8
 27  Manager                           50000 non-null  uint8
 28  Mechanic                          50000 non-null  uint8
 29  Media_Manager                     50000 non-null  uint8
 30  Musician                          50000 non-null  uint8
 31  Scientist                         50000 non-null  uint8
 32  Teacher                           50000 non-null  uint8
 33  Writer                            50000 non-null  uint8
 34  _______                           50000 non-null  uint8
 35  High_spent_Large_value_payments   50000 non-null  uint8
 36  High_spent_Medium_value_payments  50000 non-null  uint8
 37  High_spent_Small_value_payments   50000 non-null  uint8
 38  Low_spent_Large_value_payments    50000 non-null  uint8
 39  Low_spent_Medium_value_payments   50000 non-null  uint8
 40  Low_spent_Small_value_payments    50000 non-null  uint8
dtypes: float64(10), int64(6), object(4), uint8(21)
memory usage: 8.6+ MB

In [182]:
#gerando dummy
dummy = pd.get_dummies(df_cliente_score_rev_n_d['Payment_of_Min_Amount'],drop_first = True)

# Concatenar as variáveis dummy com o dataframe original
df_cliente_score_rev_n_d = pd.concat([df_cliente_score_rev_n_d, dummy], axis=1)

#removendo varivel original
df_cliente_score_rev_n_d = df_cliente_score_rev_n_d.drop('Payment_of_Min_Amount',axis=1)

df_cliente_score_rev_n_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 42 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               50000 non-null  int64
 1   Annual_Income                     50000 non-null  float64
 2   Monthly_Inhand_Salary             50000 non-null  float64
 3   Num_Bank_Accounts                 50000 non-null  int64
 4   Num_Credit_Card                   50000 non-null  int64
 5   Interest_Rate                     50000 non-null  int64
 6   Num_of_Loan                       50000 non-null  int64
 7   Type_of_Loan                      50000 non-null  object
 8   Delay_from_due_date               50000 non-null  int64
 9   Num_of_Delayed_Payment            50000 non-null  float64
 10  Changed_Credit_Limit              50000 non-null  float64
 11  Num_Credit_Inquiries              50000 non-null  float64
 12  Credit_Mix                        50000 non-null  object
 13  Outstanding_Debt                  50000 non-null  float64
 14  Credit_Utilization_Ratio          50000 non-null  float64
 15  Credit_History_Age                50000 non-null  object
 16  Total_EMI_per_month               50000 non-null  float64
 17  Amount_invested_monthly           50000 non-null  float64
 18  Monthly_Balance                   50000 non-null  float64
 19  Architect                         50000 non-null  uint8
 20  Developer                         50000 non-null  uint8
 21  Doctor                            50000 non-null  uint8
 22  Engineer                          50000 non-null  uint8
 23  Entrepreneur                      50000 non-null  uint8
 24  Journalist                        50000 non-null  uint8
 25  Lawyer                            50000 non-null  uint8
 26  Manager                           50000 non-null  uint8
 27  Mechanic                          50000 non-null  uint8
 28  Media_Manager                     50000 non-null  uint8
 29  Musician                          50000 non-null  uint8
 30  Scientist                         50000 non-null  uint8
 31  Teacher                           50000 non-null  uint8
 32  Writer                            50000 non-null  uint8
 33  _______                           50000 non-null  uint8
 34  High_spent_Large_value_payments   50000 non-null  uint8
 35  High_spent_Medium_value_payments  50000 non-null  uint8
 36  High_spent_Small_value_payments   50000 non-null  uint8
 37  Low_spent_Large_value_payments    50000 non-null  uint8
 38  Low_spent_Medium_value_payments   50000 non-null  uint8
 39  Low_spent_Small_value_payments    50000 non-null  uint8
 40  No                                50000 non-null  uint8
 41  Yes                               50000 non-null  uint8
dtypes: float64(10), int64(6), object(3), uint8(23)
memory usage: 8.3+ MB

In [185]:
df_cliente_score_rev_n_d.Month_Credit_History_Age.unique()

array([''], dtype=object)

In [194]:
#Para a variavel Historico de credito vamos gerar duas colunas onde teremos o numero de anos e meses
df_cliente_score_rev_n_d['Year_Credit_History_Age'] = df_cliente_score_rev_n_d['Credit_History_Age'].str.slice(0, 2)
df_cliente_score_rev_n_d['Year_Credit_History_Age'] = df_cliente_score_rev_n_d['Year_Credit_History_Age'].astype(int)

df_cliente_score_rev_n_d['Month_Credit_History_Age'] = df_cliente_score_rev_n_d['Credit_History_Age'].str.slice(13, 15)
#df_cliente_score_rev_n_d['Month_Credit_History_Age'] = df_cliente_score_rev_n_d['Month_Credit_History_Age'].astype(int)

df_cliente_score_rev_n_d.Month_Credit_History_Age.unique()

array(['9 ', '10', ' M', '0 ', '3 ', '4 ', '5 ', '6 ', '7 ', '11', '1 ',
       '2 ', '8 '], dtype=object)

Agora com a reducao de dimensionalidade e os nulos tratados vamos montar nosso modelo de classificacao de random forest

In [63]:
# Pré-processamento dos dados
X = df_cliente_score_rev.drop('Credit_Mix', axis=1)
y = df_cliente_score_rev['Credit_Mix']

In [64]:
X

,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,...,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Monthly_Balance
0,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,2022.0,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702,186.266702
1,24,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,...,4.0,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380,High_spent_Medium_value_payments,361.444004,361.444004
2,24,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,...,4.0,809.98,33.811894,0 Years and 0 Months,No,49.574949,148.233938,Low_spent_Medium_value_payments,264.675446,264.675446
3,24_,Scientist,19114.12,1592.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,...,4.0,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.082511,High_spent_Medium_value_payments,343.826873,343.826873
4,28,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,...,5.0,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018,High_spent_Large_value_payments,485.298434,485.298434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,4975,Architect,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",33,...,12.0,3571.7,34.780553,0 Years and 0 Months,Yes,60.964772,146.486325,Low_spent_Small_value_payments,275.539570,275.539570
49996,25,Mechanic,39628.99,3302.415833,4,6,7,2_,"Auto Loan, and Student Loan",20,...,7.0,502.38,27.758522,31 Years and 11 Months,NM,35.104023,181.442999,Low_spent_Small_value_payments,409.394562,409.394562
49997,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",23,...,7.0,502.38,36.858542,32 Years and 0 Months,No,35.104023,10000.000000,Low_spent_Large_value_payments,349.726332,349.726332
49998,25,Mechanic,39628.99,3302.415833,4,6,7,2_,"Auto Loan, and Student Loan",21,...,7.0,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.598580,High_spent_Small_value_payments,463.238981,463.238981
49999,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",22,...,7.0,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.457878,Low_spent_Medium_value_payments,360.379683,360.379683

In [65]:
y

0        Good
1        Good
2        Good
3        Good
4        Good
         ...
49995       _
49996    Good
49997    Good
49998    Good
49999       _
Name: Credit_Mix, Length: 50000, dtype: object

In [72]:
# Dividir os dados em conjuntos de treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [76]:
# Normalizar os dados (opcional)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

ValueError: could not convert string to float: '21_'

In [73]:
# Treinar o modelo (exemplo com RandomForestClassifier)
model = RandomForestClassifier()
model.fit(X_train, y_train)

ValueError: could not convert string to float: '21_'

In [ ]:
# Fazer previsões
predictions = model.predict(X_test)

In [ ]:
# Avaliar o modelo
print("Matriz de Confusão:")
print(confusion_matrix(y_test, predictions))
print("\nRelatório de Classificação:")
print(classification_report(y_test, predictions))